# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ProjectsForHexlet\java-project-61\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.gradle

# Ignore Gradle build output directory
build

**/logs/

.settings
bin
.project*
.classpath
.idea/
